@page "/admin"
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="container">
    <div class="card mb-4 shadow-sm" style="border-radius: 10px;">
        <div class="card-body">
            <h3 class="card-title">Assign Budget Amendment Dates</h3>
            <p>Select dates in the current financial year when budget amendments are allowed.</p>
            <form method="post" asp-page-handler="SaveBudgetAmendmentDates" class="d-flex align-items-end">
                <div class="form-group me-3">
                    <label for="startDate">Start Date:</label>
                    <input type="date" asp-for="BudgetAmendmentSetting.StartDate" value="@Model.BudgetAmendmentStartDate.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
                <div class="form-group me-3">
                    <label for="endDate">End Date:</label>
                    <input type="date" asp-for="BudgetAmendmentSetting.EndDate" value="@Model.BudgetAmendmentEndDate.ToString("yyyy-MM-dd")" class="form-control"/>
                </div>
                <div class="form-group me-3">
                    <button type="submit" class="btn btn-outline-primary">Update</button>
                </div>
            </form>

            <h3 class="card-title">Extend Budget Amendment Period</h3>
            <p>Select period by which to extend the budget amendments window.</p>
            <form method="post" asp-page-handler="ExtendBudgetAmendmentWindow" class="d-flex align-items-end mt-3">
                <div class="form-group me-3">
                    <label for="extensionDays">Number of Days to Extend (max 30):</label>
                    <input type="number" name="extensionDays" id="extensionDays" class="form-control"
                           min="1" max="30" required />
                </div>
                <div class="form-group me-3">
                    <button type="submit" class="btn btn-outline-success">Extend</button>
                </div>
            </form>
        </div>
    </div>
</div>
